body{height: 100% !important; }
#news{width:calc(100% - 150px);float:none;}
#divHead{background-image: url(../img/fototitulo2.jpg);background-size: cover;background-repeat: no-repeat;color:white;margin-bottom: 0;}
h1{text-align: center;}
#imgbg{display:block;margin:auto;max-width: 600px;margin-bottom: 20px;}
#cargar{margin-left:10%;}
#inHeader{background-color:#f4cc3a;}
#imgNoticia{max-width: 300px;float:left; margin: 10px;}
#noticias{margin: 1%; max-width: calc( 100% - 350px);}
#cuerpo{width: calc(100% - 300px);margin-left:0}
#pubD{width:300px; position: absolute; height: 100%;right: 0;margin-right: 10px;}
#pubM{display:none;}
/*La versión del movil */
@media only screen and (max-width: 720px) {
	#imgbg{display:block;margin:auto;max-width: 100%;margin-bottom: 20px;}
	#pubD{display: none;}
	#news{width:100%;}
	#pubM{display:block; margin-bottom: 15px;height: 90px;}
	#imgNoticia{display:block;margin:auto;float:none !important;}
	#cuerpo{width: 100% !important;}
	h3 {text-align: center !important; font-size: 20px;}
	p { font-size: 15px;}
	#noticias{max-width: 100% !important;}
}
.footer{padding:50px 0 50px;margin-top:100px;color:#99979c;text-align:left;background-color:#2a2730}
.footer-links{padding-left:0;margin-bottom:20px}
.footer-links li+li{margin-left:15px}
.footer-links li{display:inline-block}